<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <appSettings file="../../src/User.config">
	<!-- select '<add key="' + [key] + '" value="' + value + '" />' from configurationsetting -->
        <!-- <add key="ConfigurationProvider" value="Spring2.Core.Configuration.ChainedConfigurationProvider, Spring2.Core.Configuration" /> -->
        <add key="ConnectionString" value="data source=.; initial catalog=Spring2Core; user id=sa; password=1qaz2wsx;" />
	<add key="SqlConfigurationProvider.CacheTimeout" value="1" />
        
        <add key="TempPath" value="c:\temp\MailMessageTest" />
        <add key="SMTPServer" value="10.0.0.20" />
		
	<!-- This key is here for testing the configuration stuff -->
	<add key="ConfigTest" value="From File"/> 
		
	<!-- specific to the geocode test -->
	<add key="GeocodePassword" value="dimond" />
	<add key="GeocodeUserName" value="jeffd" />
	<add key="GeocodeHost" value="mmezl.teleatlas.com" />
	<add key="GeoCodeServiceName" value="USA_Geo_002" />
	<add key="GeocodeProvider" value="Spring2.Core.Geocode.WebService.TeleAtlasWebServiceProvider" />

    </appSettings>
</configuration>