syntax: glob
/nvelocity.log.*
/*.log
/build/*
/*.cs~
/obj/*
/*.sql~
/*.mk~
/*.user
/*.orig
/*.orig
/*.suo
*.suo
*.csv.imported
*.txt.imported
*.csv.error
*.csv.log
*.log
*.log.*
Cubby
*.ncrunchsolution
*.orig
*/App_Data/XmlDocument.xml

*.csproj.user
*.ccproj.user
*.cs~
*.sql~

/Core/src/SWS_Test/obj/*
/Core/src/SWS_Test/bin/*
Core/src/obj/*
/Core/build/*