<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
	<!-- 
	Uncomment these lines to provide the configuration information needed for SendMailMessages to function.  Values retrieved
	using the ConfigurationProvider and should be configured in that store.
	
	ConfigurationProvider: (optional)Specifies the ConfigurationProvider class for the settings that are needed to operate.
	ConnectionKey: (required)The connection string where the MailMessage* tables are located.
	TempPath: (required, using ConfigurationProvider)Specifies the root path where the Attachments directory and files will be created.
	SmtpServer: (required, using ConfigurationProvider)Specifies the server to use as smtp host.
		
        <add key="ConfigurationProvider" value="Spring2.Core.Configuration.SqlConfigurationProvider, Spring2.Core.Configuration" /> 
        <add key="ConnectionString" value="data source=.; initial catalog=Spring2Core; user id=sa; password=1qaz2wsx; enlist=true;" /> 
        <add key="TempPath" value="c:\temp" /> 
        <add key="SmtpServer" value="localhost" /> 
	<add key="MailMessage.MaxMessagesToSend" value="1000" /> 
	
	3rd Party mailing services - all of these are optional
	SMTPPort: The port of the SMTPServer of which to connect through. Probably unnecessary unless using some sort of encrypted protocol like SSL.
	SMTPUsername: The username of the account to connect with.
	SMTPPassword: The password of the account to connect with.
	SMTPEnableSSL: Sets the SmtpClient.EnableSSL flag. 1 = true.
	SMTPProtocolType: Sets the ServicePointManager.SecurityProtocol value. Valid options are SSL3 and TLS.
	
	<add key="SMTPPort" value="" /> 
	<add key="SMTPUsername" value="" /> 
	<add key="SMTPPassword" value="" /> 
	<add key="SMTPEnableSSL" value="" />
        -->
    </appSettings>
</configuration>
