<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
	<!-- 
	Uncomment these lines to provide the configuration information needed for SendMailMessages to function.  Values retrieved
	using the ConfigurationProvider and should be configured in that store.
	
	ConfigurationProvider: (optional)Specifies the ConfigurationProvider class for the settings that are needed to operate.
	ConnectionKey: (required)The connection string where the MailMessage* tables are located.
	TempPath: (required, using ConfigurationProvider)Specifies the root path where the Attachments directory and files will be created.
	SmtpServer: (required, using ConfigurationProvider)Specifies the server to use as smtp host.
		
        <add key="ConfigurationProvider" value="Spring2.Core.Configuration.SqlConfigurationProvider, Spring2.Core.Configuration" /> 
        <add key="ConnectionString" value="data source=.; initial catalog=Spring2Core; user id=sa; password=1qaz2wsx; enlist=true;" /> 
        <add key="TempPath" value="c:\temp" /> 
        <add key="SmtpServer" value="localhost" /> 
        -->
    </appSettings>
</configuration>
