<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Spring2.Core.ResourceManager.DataObject</name>
    </assembly>
    <members>
        <member name="T:Spring2.Core.ResourceManager.DataObject.LocalizedResourceList">
            <summary>
            ILocalizedResource generic collection
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.LocalizedResourceList.Contains(Spring2.Core.Types.IdType)">
            <summary>
            See if the list contains an instance by identity
            </summary>
        </member>
        <member name="P:Spring2.Core.ResourceManager.DataObject.LocalizedResourceList.Item(Spring2.Core.Types.IdType)">
            <summary>
            returns the instance by identity or null if it not found
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.LocalizedResourceList.RetainAll(Spring2.Core.ResourceManager.DataObject.LocalizedResourceList)">
            <summary>
            Returns a new list that contains all of the elements that are in both lists
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.LocalizedResourceList.RemoveAll(Spring2.Core.ResourceManager.DataObject.LocalizedResourceList)">
            <summary>
            return a new list that contains only the elements not contained in the argument list
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.LocalizedResourceList.Sort(System.Collections.IComparer)">
            <summary>
            Sort a list by a column
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.LocalizedResourceList.Sort(System.String)">
            <summary>
            Sort the list given the name of a comparer class.
            </summary>
        </member>
        <member name="T:Spring2.Core.ResourceManager.DataObject.ResourceList">
            <summary>
            IResource generic collection
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.ResourceList.Contains(Spring2.Core.Types.IdType)">
            <summary>
            See if the list contains an instance by identity
            </summary>
        </member>
        <member name="P:Spring2.Core.ResourceManager.DataObject.ResourceList.Item(Spring2.Core.Types.IdType)">
            <summary>
            returns the instance by identity or null if it not found
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.ResourceList.RetainAll(Spring2.Core.ResourceManager.DataObject.ResourceList)">
            <summary>
            Returns a new list that contains all of the elements that are in both lists
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.ResourceList.RemoveAll(Spring2.Core.ResourceManager.DataObject.ResourceList)">
            <summary>
            return a new list that contains only the elements not contained in the argument list
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.ResourceList.Sort(System.Collections.IComparer)">
            <summary>
            Sort a list by a column
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.DataObject.ResourceList.Sort(System.String)">
            <summary>
            Sort the list given the name of a comparer class.
            </summary>
        </member>
        <member name="T:Spring2.Core.ResourceManager.Types.LanguageEnumList">
            <summary>
            LanguageEnum generic collection
            </summary>
        </member>
        <member name="T:Spring2.Core.ResourceManager.Types.LocaleEnumList">
            <summary>
            LocaleEnum generic collection
            </summary>
        </member>
    </members>
</doc>
