<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Spring2.Core.PropertyPopulator</name>
    </assembly>
    <members>
        <member name="T:Spring2.Core.PropertyPopulator.Populator">
            <summary>
            Summary description for PropertyPopulator.
            </summary>
        </member>
        <member name="M:Spring2.Core.PropertyPopulator.Populator.ParseValue(System.String,System.Type)">
            <summary>
            Attempts to parse the given string as one of the standard
            value types: bool, decimal, sbyte, byte, short, ushort,
            int, uint, long, ulong, char, float, or double.
            Simply returns val on failure.
            </summary>
            <param name="val">The string containing the value to be parsed.</param>
            <param name="type">The target type of val after parsing.</param>
            <returns>
            A new object representing the string val parsed as the
            appropriate type or val if type is not one of the standard
            value types.
            </returns>
        </member>
        <member name="M:Spring2.Core.PropertyPopulator.Populator.ParseCustomValue(System.String,System.Type)">
            <summary>
            Extendeds types that ParseValue can parse
            </summary>
            <param name="val" type="string"></param>
            <param name="type" type="System.Type"></param>
            <returns>The parsed value, or null indicating that this type was not parsable by this method</returns>
        </member>
    </members>
</doc>
