<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Spring2.Core.PerformanceMonitor</name>
    </assembly>
    <members>
        <member name="T:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition">
            <summary>
            Class for handling monitoring performance of a specific performance counter
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.GetInstance(System.Int32)">
            <summary>
            Returns an instance based on the generated id.
            </summary>
            <param name="performanceCounterDefinitionId"></param>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.Create(System.Nullable{System.Int32},Spring2.Core.PerformanceMonitor.Types.PerformanceCounterCalculationTypeEnum,System.String,System.String,System.String)">
            <summary>
            Creates a new definition for getting snapshots of a counter.
            </summary>
            <param name="performanceMachineDefinitionId"></param>
            <param name="calculationType"></param>
            <param name="categoryName"></param>
            <param name="counterName"></param>
            <param name="instanceName"></param>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.Validate">
            <summary>
            Validates the object is correct before persistance.
            </summary>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.Reload">
            <summary>
            Reloads the object from the database.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.PerformanceCounterDefinitionId">
            <summary>
            Generated Id
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.PerformanceMachineDefinitionId">
            <summary>
            Id of machine to be monitored.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.CategoryName">
            <summary>
            Category of counter to be monitored.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.CounterName">
            <summary>
            Name of counter to be monitored.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.InstanceName">
            <summary>
            Instance value (if any) of the counter to be monitored.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition.CalculationType">
            <summary>
            Indicates if we are monitoring a snapshot of the counter or an average over the interval.
            </summary>
        </member>
        <member name="T:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData">
            <summary>
            Class for a sample when monitoring performance
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.GetInstance(System.Int32)">
            <summary>
            Returns an instance based on the generated id.
            </summary>
            <param name="performanceDataId"></param>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.Create(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition,Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition,System.Single)">
            <summary>
            Creates a new definition for getting snapshots of a counter.
            </summary>
            <param name="machine"></param>
            <param name="counter"></param>
            <param name="sampleValue"></param>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.Validate">
            <summary>
            Validates the object is correct before persistance.
            </summary>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.Reload">
            <summary>
            Reloads the object from the database.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.PerformanceDataId">
            <summary>
            Generated Id
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.MachineName">
            <summary>
            Machine sampled.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.CategoryName">
            <summary>
            Category of counter sampled.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.CounterName">
            <summary>
            Name of counter sampled.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.InstanceName">
            <summary>
            Instance value (if any) of the counter sampled.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.CalculationType">
            <summary>
            Indicates if we are monitoring a snapshot of the counter or an average over the interval.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.IntervalInSeconds">
            <summary>
            Interval in seconds defined for this sample.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.NumberOfSamples">
            <summary>
             Number of samples for average defined.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.TimeOfSample">
            <summary>
            Time sample was created.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData.SampleValue">
            <summary>
            Value for the sample.
            </summary>
        </member>
        <member name="T:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition">
            <summary>
            Class for handling monitoring performance for a machine
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.GetInstance(System.Int32)">
            <summary>
            Returns an instance based on the generated id.
            </summary>
            <param name="PerformanceMachineDefinitionId"></param>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.Create(System.String,System.Int32,System.Int32)">
            <summary>
            Creates a new definition for getting snapshots of a counter.
            </summary>
            <param name="machineName"></param>
            <param name="intervalInSeconds"></param>
            <param name="numberOfSamples"></param>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.Validate">
            <summary>
            Validates the object is correct before persistance.
            </summary>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.Reload">
            <summary>
            Reloads the object from the database.
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.Monitor">
            <summary>
            Monitors defined counters until killed
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.Monitor(System.Int32)">
            <summary>
            Monitors defined couters for indicated number of interations
            </summary>
            <param name="numberOfIterations">Number of iterations to go. If less than 1 then go forever.</param>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.CurrentMachineName">
            <summary>
            Returns the machine name of the machine we are running on.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.StopNow">
            <summary>
            Setting this to true will cause monitor to stop.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.PerformanceMachineDefinitionId">
            <summary>
            Generated Id
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.MachineName">
            <summary>
            Id of machine to be monitored.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.IntervalInSeconds">
            <summary>
            Number of seconds between measurements and persistence of the counter.
            </summary>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition.NumberOfSamples">
            <summary>
            Only used if CalculationType is average.  Number of samples to take during the interval for the average.
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.#cctor">
            <summary>
            Initializes the static map of property names to sql expressions.
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetList">
            <summary>
            Returns a list of all PerformanceCounterDefinition rows.
            </summary>
            <returns>List of PerformanceCounterDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetList(Spring2.Core.DAO.SqlFilter)">
            <summary>
            Returns a filtered list of PerformanceCounterDefinition rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <returns>List of PerformanceCounterDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetList(Spring2.Core.DAO.IOrderBy)">
            <summary>
            Returns an ordered list of PerformanceCounterDefinition rows.  All rows in the database are returned
            </summary>
            <param name="orderByClause">Ordering criteria.</param>
            <returns>List of PerformanceCounterDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetList(Spring2.Core.DAO.SqlFilter,Spring2.Core.DAO.IOrderBy)">
            <summary>
            Returns an ordered and filtered list of PerformanceCounterDefinition rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <param name="orderByClause">Ordering criteria.</param>
            <returns>List of PerformanceCounterDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetList(System.Int32)">
            <summary>
            Returns a list of all PerformanceCounterDefinition rows.
            </summary>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceCounterDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetList(Spring2.Core.DAO.SqlFilter,System.Int32)">
            <summary>
            Returns a filtered list of PerformanceCounterDefinition rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceCounterDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetList(Spring2.Core.DAO.IOrderBy,System.Int32)">
            <summary>
            Returns an ordered list of PerformanceCounterDefinition rows.  All rows in the database are returned
            </summary>
            <param name="orderByClause">Ordering criteria.</param>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceCounterDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetList(Spring2.Core.DAO.SqlFilter,Spring2.Core.DAO.IOrderBy,System.Int32)">
            <summary>
            Returns an ordered and filtered list of PerformanceCounterDefinition rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <param name="orderByClause">Ordering criteria.</param>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceCounterDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.Load(System.Nullable{System.Int32})">
            <summary>
            Finds a PerformanceCounterDefinition entity using it's primary key.
            </summary>
            <param name="performanceCounterDefinitionId">A key field.</param>
            <returns>A PerformanceCounterDefinition object.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no entity exists witht he specified primary key..</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.Reload(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition)">
            <summary>
            Repopulates an existing business entity instance
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetList(System.Data.IDataReader)">
            <summary>
            Read through the reader and return a data object list
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetDataObject(System.Data.IDataReader)">
            <summary>
            Read from reader and return a single data object
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetDataObject(System.Data.IDataReader,Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.ColumnOrdinals)">
            <summary>
            Read from reader and return a single data object
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetDataObjectFromReader(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition,System.Data.IDataReader,Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="data"></param>
            <param name="dataReader">Container for database row.</param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetDataObjectFromReader(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition,System.Data.IDataReader)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="data"></param>
            <param name="dataReader">Container for database row.</param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetDataObjectFromReader(System.Data.IDataReader,Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="dataReader">Container for database row.</param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetDataObjectFromReader(System.Data.IDataReader)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="dataReader">Container for database row.</param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetDataObjectFromReader(System.Data.IDataReader,System.String,Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="dataReader">Container for database row.</param>
            <param name="prefix"></param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.GetDataObjectFromReader(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition,System.Data.IDataReader,System.String,Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="data"></param>
            <param name="dataReader">Container for database row.</param>
            <param name="prefix"></param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.Insert(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition)">
            <summary>
            Inserts a record into the PerformanceCounterDefinition table.
            </summary>
            <param name="data"></param>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.Update(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceCounterDefinition)">
            <summary>
            Updates a record in the PerformanceCounterDefinition table.
            </summary>
            <param name="data"></param>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.Delete(System.Nullable{System.Int32})">
            <summary>
            Deletes a record from the PerformanceCounterDefinition table by PerformanceCounterDefinitionId.
            </summary>
            <param name="performanceCounterDefinitionId">A key field.</param>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceCounterDefinitionDAO.FindByPerformanceMachineDefinitionId(System.Nullable{System.Int32})">
            <summary>
            Returns a list of objects which match the values for the fields specified.
            </summary>
            <param name="performanceMachineDefinitionId">A field value to be matched.</param>
            <returns>The list of PerformanceCounterDefinition objects found.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.#cctor">
            <summary>
            Initializes the static map of property names to sql expressions.
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetList">
            <summary>
            Returns a list of all PerformanceData rows.
            </summary>
            <returns>List of PerformanceData objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetList(Spring2.Core.DAO.SqlFilter)">
            <summary>
            Returns a filtered list of PerformanceData rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <returns>List of PerformanceData objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetList(Spring2.Core.DAO.IOrderBy)">
            <summary>
            Returns an ordered list of PerformanceData rows.  All rows in the database are returned
            </summary>
            <param name="orderByClause">Ordering criteria.</param>
            <returns>List of PerformanceData objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetList(Spring2.Core.DAO.SqlFilter,Spring2.Core.DAO.IOrderBy)">
            <summary>
            Returns an ordered and filtered list of PerformanceData rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <param name="orderByClause">Ordering criteria.</param>
            <returns>List of PerformanceData objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetList(System.Int32)">
            <summary>
            Returns a list of all PerformanceData rows.
            </summary>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceData objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetList(Spring2.Core.DAO.SqlFilter,System.Int32)">
            <summary>
            Returns a filtered list of PerformanceData rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceData objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetList(Spring2.Core.DAO.IOrderBy,System.Int32)">
            <summary>
            Returns an ordered list of PerformanceData rows.  All rows in the database are returned
            </summary>
            <param name="orderByClause">Ordering criteria.</param>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceData objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetList(Spring2.Core.DAO.SqlFilter,Spring2.Core.DAO.IOrderBy,System.Int32)">
            <summary>
            Returns an ordered and filtered list of PerformanceData rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <param name="orderByClause">Ordering criteria.</param>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceData objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.Load(System.Nullable{System.Int32})">
            <summary>
            Finds a PerformanceData entity using it's primary key.
            </summary>
            <param name="performanceCounterDefinitionId">A key field.</param>
            <returns>A PerformanceData object.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no entity exists witht he specified primary key..</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.Reload(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData)">
            <summary>
            Repopulates an existing business entity instance
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetList(System.Data.IDataReader)">
            <summary>
            Read through the reader and return a data object list
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetDataObject(System.Data.IDataReader)">
            <summary>
            Read from reader and return a single data object
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetDataObject(System.Data.IDataReader,Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.ColumnOrdinals)">
            <summary>
            Read from reader and return a single data object
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetDataObjectFromReader(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData,System.Data.IDataReader,Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="data"></param>
            <param name="dataReader">Container for database row.</param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetDataObjectFromReader(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData,System.Data.IDataReader)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="data"></param>
            <param name="dataReader">Container for database row.</param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetDataObjectFromReader(System.Data.IDataReader,Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="dataReader">Container for database row.</param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetDataObjectFromReader(System.Data.IDataReader)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="dataReader">Container for database row.</param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetDataObjectFromReader(System.Data.IDataReader,System.String,Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="dataReader">Container for database row.</param>
            <param name="prefix"></param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.GetDataObjectFromReader(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData,System.Data.IDataReader,System.String,Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="data"></param>
            <param name="dataReader">Container for database row.</param>
            <param name="prefix"></param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.Insert(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData)">
            <summary>
            Inserts a record into the PerformanceData table.
            </summary>
            <param name="data"></param>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.Update(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceData)">
            <summary>
            Updates a record in the PerformanceData table.
            </summary>
            <param name="data"></param>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceDataDAO.Delete(System.Nullable{System.Int32})">
            <summary>
            Deletes a record from the PerformanceData table by PerformanceDataId.
            </summary>
            <param name="performanceCounterDefinitionId">A key field.</param>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.#cctor">
            <summary>
            Initializes the static map of property names to sql expressions.
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetList">
            <summary>
            Returns a list of all PerformanceMachineDefinition rows.
            </summary>
            <returns>List of PerformanceMachineDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetList(Spring2.Core.DAO.SqlFilter)">
            <summary>
            Returns a filtered list of PerformanceMachineDefinition rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <returns>List of PerformanceMachineDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetList(Spring2.Core.DAO.IOrderBy)">
            <summary>
            Returns an ordered list of PerformanceMachineDefinition rows.  All rows in the database are returned
            </summary>
            <param name="orderByClause">Ordering criteria.</param>
            <returns>List of PerformanceMachineDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetList(Spring2.Core.DAO.SqlFilter,Spring2.Core.DAO.IOrderBy)">
            <summary>
            Returns an ordered and filtered list of PerformanceMachineDefinition rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <param name="orderByClause">Ordering criteria.</param>
            <returns>List of PerformanceMachineDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetList(System.Int32)">
            <summary>
            Returns a list of all PerformanceMachineDefinition rows.
            </summary>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceMachineDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetList(Spring2.Core.DAO.SqlFilter,System.Int32)">
            <summary>
            Returns a filtered list of PerformanceMachineDefinition rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceMachineDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetList(Spring2.Core.DAO.IOrderBy,System.Int32)">
            <summary>
            Returns an ordered list of PerformanceMachineDefinition rows.  All rows in the database are returned
            </summary>
            <param name="orderByClause">Ordering criteria.</param>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceMachineDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetList(Spring2.Core.DAO.SqlFilter,Spring2.Core.DAO.IOrderBy,System.Int32)">
            <summary>
            Returns an ordered and filtered list of PerformanceMachineDefinition rows.
            </summary>
            <param name="filter">Filtering criteria.</param>
            <param name="orderByClause">Ordering criteria.</param>
            <param name="maxRows">Uses TOP to limit results to specified number of rows</param>
            <returns>List of PerformanceMachineDefinition objects.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no rows are found matching the where criteria.</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.Load(System.Nullable{System.Int32})">
            <summary>
            Finds a PerformanceMachineDefinition entity using it's primary key.
            </summary>
            <param name="PerformanceMachineDefinitionId">A key field.</param>
            <returns>A PerformanceMachineDefinition object.</returns>
            <exception cref="T:Spring2.Core.DAO.FinderException">Thrown when no entity exists witht he specified primary key..</exception>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.Reload(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition)">
            <summary>
            Repopulates an existing business entity instance
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetList(System.Data.IDataReader)">
            <summary>
            Read through the reader and return a data object list
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetDataObject(System.Data.IDataReader)">
            <summary>
            Read from reader and return a single data object
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetDataObject(System.Data.IDataReader,Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.ColumnOrdinals)">
            <summary>
            Read from reader and return a single data object
            </summary>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetDataObjectFromReader(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition,System.Data.IDataReader,Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="data"></param>
            <param name="dataReader">Container for database row.</param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetDataObjectFromReader(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition,System.Data.IDataReader)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="data"></param>
            <param name="dataReader">Container for database row.</param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetDataObjectFromReader(System.Data.IDataReader,Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="dataReader">Container for database row.</param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetDataObjectFromReader(System.Data.IDataReader)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="dataReader">Container for database row.</param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetDataObjectFromReader(System.Data.IDataReader,System.String,Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="dataReader">Container for database row.</param>
            <param name="prefix"></param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.GetDataObjectFromReader(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition,System.Data.IDataReader,System.String,Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.ColumnOrdinals)">
            <summary>
            Builds a data object from the current row in a data reader..
            </summary>
            <param name="data"></param>
            <param name="dataReader">Container for database row.</param>
            <param name="prefix"></param>
            <param name="ordinals"></param>
            <returns>Data object built from current row.</returns>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.Insert(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition)">
            <summary>
            Inserts a record into the PerformanceMachineDefinition table.
            </summary>
            <param name="data"></param>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.Update(Spring2.Core.PerformanceMonitor.BusinessLogic.PerformanceMachineDefinition)">
            <summary>
            Updates a record in the PerformanceMachineDefinition table.
            </summary>
            <param name="data"></param>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.Delete(System.Nullable{System.Int32})">
            <summary>
            Deletes a record from the PerformanceMachineDefinition table by PerformanceMachineDefinitionId.
            </summary>
            <param name="PerformanceMachineDefinitionId">A key field.</param>
        </member>
        <member name="M:Spring2.Core.PerformanceMonitor.DAO.PerformanceMachineDefinitionDAO.FindByMachineName(System.String)">
            <summary>
            Returns a list of objects which match the values for the fields specified.
            </summary>
            <param name="machineName">A field value to be matched.</param>
            <returns>The list of PerformanceMachineDefinition objects found.</returns>
        </member>
        <member name="P:Spring2.Core.PerformanceMonitor.Types.PerformanceCounterCalculationTypeEnum.DBValue">
            <summary>
            Value for storing in the database
            </summary>
        </member>
    </members>
</doc>
