<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Spring2.Core.ResourceManager.ResourceLocalizer</name>
    </assembly>
    <members>
        <member name="T:Spring2.Core.ResourceManager.Facade.ResourceLocalizer">
            <summary>
            Fetches localized resources
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.Facade.ResourceLocalizer.ResetCache">
            <summary>
            Method to reset all of the internal cache to initial values when class is created.  
            Should only be needed for testing purposes.
            </summary>
        </member>
        <member name="M:Spring2.Core.ResourceManager.Facade.ResourceLocalizer.Localize(Spring2.Core.Types.StringType,Spring2.Core.Types.StringType,Spring2.Core.Types.IdType,Spring2.Core.Types.ILocale,Spring2.Core.Types.ILanguage)">
            <summary>
            Looks up the localized resource using the locale and language of the user on the thread
            </summary>
            <param name="context"></param>
            <param name="field"></param>
            <param name="identity"></param>
            <param name="locale"></param>
            <param name="language"></param>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.ResourceManager.Facade.ResourceLocalizer.LocalizeWithDefault(Spring2.Core.Types.StringType,Spring2.Core.Types.StringType,Spring2.Core.Types.IdType)">
            <summary>
            Looks up a localized resource using an identity, but returns the non identity specific version if none is found
            Uses the locale of the current user to find the appropriate resource
            </summary>
            <param name="context"></param>
            <param name="field"></param>
            <param name="identity"></param>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.ResourceManager.Facade.ResourceLocalizer.LocalizeWithDefault(Spring2.Core.Types.StringType,Spring2.Core.Types.StringType,Spring2.Core.Types.IdType,Spring2.Core.Types.ILocale,Spring2.Core.Types.ILanguage)">
            <summary>
            Looks up a localized resource using an identity, but returns the non identity specific version if none is found
            </summary>
            <param name="context"></param>
            <param name="field"></param>
            <param name="identity"></param>
            <param name="locale"></param>
            <param name="language"></param>
            <returns></returns>
        </member>
        <member name="M:Spring2.Core.ResourceManager.Facade.ResourceLocalizer.Localize(Spring2.Core.Types.StringType,Spring2.Core.Types.StringType,Spring2.Core.Types.IdType)">
            <summary>
            Uses the locale of the current user to find the appropriate resource
            </summary>
            <param name="context"></param>
            <param name="field"></param>
            <param name="identity"></param>
            <returns></returns>
        </member>
    </members>
</doc>
