<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 
	Uncomment these lines to provide the configuration information needed for SeleniumLoadTester to function.
		
        <add key="ConnectionString" value="data source=.; initial catalog=Spring2Core; user id=sa; password=1qaz2wsx; enlist=true;" /> 
        -->
	</appSettings>
</configuration>