<?xml version="1.0" ?>
<maverick version="2.0" default-view-type="document" default-transform-type="document">
    <!-- global view definitions -->
    <views>
	<view id="error" path="~/Template/Error.aspx" type="document" />
    </views>
    <!-- mapped request paths -->
	<commands>
		<!-- catch all for any request that is mapped to Maverick that is not explictly setup below -->
		<command name="*">
			<view path="~/Template/unmappedCommand.aspx" />
		</command>
		<!-- standard commands -->

		<command name="Home">
			<view path="~/Template/Home.aspx" type="document">
			  <transform path="~/Template/BasicTrim.aspx" />
			</view>
		</command>
		<!-- Ajax Command -->
		<command name="Ajax">
			<controller class="Spring2.Core.Ajax.SampleController.AjaxController,Spring2.Core.Ajax.SampleController" />
			<view name="ajax" type="trivial" />
		</command>
    </commands>
</maverick>
